.table1{
    border: 3px solid #141313;
    margin: auto;
}
thead{
    background-color: #e7a3aa;
    color: #f3f3f3;
    text-align: center;
}
.thead-th, .thead-th th{
    border: solid 1px #fcfcfc;
}
tbody{
    text-align: center;
}
.odd-number, .odd-number td{
    background-color: #b2e0f5;
    font-weight: bold;
    border: solid 1px #fcfcfc;
}
.even-number, .even-number td{
    background-color: #fcfcfc;
    font-weight: bold;
    border: solid 1px #fcfcfc;
}
.account-photo{
    padding: 2px 15px 4px;
    width: 50px; height: 50px;
}
.email{
    text-decoration: underline;
    color: blue;
}

